.head-title {
    text-align: start;
    margin-top: 40px;

    .title-text {
        font-size: 1.5rem;
        /* 24px */
        line-height: 2rem;
        font-weight: 600;
    }

}

.image-container {

    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    max-height: 500px;
    background-color: rgb(219, 217, 217);
    border-radius: 0.75rem;

    .image-head {
        border-radius: 0.75rem;

        display: block;
        width: auto;
        height: auto;
        object-fit: contain;

    }
}