.container-footer {
    background-color: #3e3e3e;
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .social {
        display: flex;
        align-items: center;
        gap: 10px;
        color: rgb(73, 73, 247);
        padding: 10px;
    }

    .text {
        color: white;
        padding-left: 50px;
        font-weight: 500;
    }


}