.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px rgba(0, 0, 0, 0.25);
    background: white;

    .menu-container {
        height: 120px;


        .container-one {
            position: static;

            .menu-items {
                @media screen and (max-width:992px) {
                    visibility: hidden;

                }

                @media screen and (max-width:1111px) {
                    left: 250px;

                }

                position: relative;
                left: 400px;
                height: 120px;
                line-height: 120px;

                .menu-item {
                    display: inline-block;
                    vertical-align: middle;
                    text-transform: uppercase;
                    font-size: 10pt;
                    -webkit-transform: rotateY(0);

                    .a {
                        &:hover {
                            color: #fff;

                            box-shadow: inset 200px 0 0 0 #f58220;

                        }

                        cursor: pointer;
                        border-right: 1px solid #f58220;
                        padding: 10px;
                        line-height: 25px;
                        display: inline-block;
                        padding-left: 18px;
                        padding-right: 18px;
                        margin-right: -1px;
                        text-decoration: none;
                        transform: skew(-35deg, 0);
                        color: #3e3e3e;
                        font-weight: 500;
                        transition: color .3s ease-in-out,
                        box-shadow .3s ease-in-out;



                        .menu-item-text {
                            transform: skew(35deg, 0);
                            display: inline-block;
                        }
                    }


                }
            }
        }
    }

    .logo-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .container {
            width: 100%;

            .logo-container {
                @media screen and (max-width:1111px) {
                    left: -2770px;

                }

                background: #3e3e3e;
                display: inline-block;
                width: 3000px;
                height: 150px;
                border-radius: 8px;
                transform: skew(-35deg, 0);
                overflow: hidden;
                box-shadow: 5px 4px rgba(0, 0, 0, 0.25);
                position: absolute;
                left: -2650px;
                z-index: 10;

                .logo-content-wrapper {
                    transform: skew(35deg, 0);
                    position: relative;
                    height: 100%;
                    width: 100%;

                    .logo {
                        z-index: 1000;
                        position: absolute;
                        right: 100px;
                        bottom: 10px;
                        cursor: pointer;
                    }
                }

            }


        }
    }
}