.propduct-card {
    display: grid;
    padding: 40px;
    min-height: 500px;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media screen and (min-width: 640px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));

    }

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));

    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));

    }

    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(5, minmax(0, 1fr));

    }

    @media screen and (min-width: 1536px) {
        grid-template-columns: repeat(6, minmax(0, 1fr));

    }
}

.text-head-page {
    text-align: start;
    margin-top: 40px;
    margin-left: 50px;

    .text-title-head {
        font-size: 1.5rem;
        /* 24px */
        line-height: 2rem;
        /* 32px */
        font-weight: 700;
    }

    .subtitle {
        font-weight: 300;
        color: rgb(115 115 115);
        margin-top: 6px;

    }
}